body,html{
   margin: 0;
   padding: 0;
   /* background-color: rgba(215, 198, 217, 0.518); */
}
header{
   margin: 0;
   padding: 0;
   border-bottom: 2vh rgb(117, 67, 121) solid;
   background-color: rgb(160, 118, 165);
   width: 100vw;
   height: 24vh;
   position: relative;

}
header div{
   position: absolute;
   height: 18vh;
   width: 9vw;
   border: 2.6vh rgb(117, 67, 121) solid;
   border-radius: 100%;
   margin-top: 1vh;
   background-color: rgba(186, 162, 189, 0.674);   
}

header div h3{
   margin-top: 7.5vh;
   color: rgb(64, 43, 65);
   text-align: center;
}

header div h3:last-child{
   display: none;
}

header h1{
   position: absolute;
   margin-left: 38vw;
   margin-top: 10vh;
   color: rgb(64, 43, 65);
   
}
.aniRoll{
   margin-left: 87vw;
   transition: 2000ms;
}

.cover marquee{
   padding-top: 30vh;
   position: absolute;
}

.content{
   width: 100vw;   
   display: none;
}

main{
   margin-top: .5vh;
   margin-left: 20vw;
}

main h3{
   color: rgb(64, 43, 65);
}

.input{
   margin-left: 2vw;
   transition: 2000ms;
}

.all{
   display: flex;
}

.output{
   margin-top: 50vh;
   margin-left: 2vw;
   margin-right: 4vw;
}

.clock {
   display: inline-block;
   margin: 10px;
   padding: 10px;
   border: 2px solid #6d6969;
   border-radius: 4px;
   text-align: center;
   }
